<h1>Countywise data</h1>

<div class="same-row">

  <div class="col">
    <div class="box">
      <li class="header">America</li>
      <li class="hov">New Recovered<strong>{{america?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong>{{america?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong>{{america?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong>{{america?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong>{{america?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong>{{america?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <li class="header">Germany</li>
      <li class="hov">New Recovered<strong> {{germany?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong>{{germany?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong> {{germany?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong> {{germany?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong> {{germany?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong> {{germany?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <li class="header">India</li>
      <li class="hov">New Recovered<strong>{{india?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong> {{india?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong> {{india?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong> {{india?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong> {{india?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong> {{india?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <li class="header">Canada</li>
      <li class="hov">New Recovered<strong>{{canada?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong> {{canada?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong> {{canada?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong> {{canada?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong> {{canada?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong> {{canada?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <li class="header">United Kingdom</li>
      <li class="hov">New Recovered<strong>{{uk?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong> {{uk?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong> {{uk?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong> {{uk?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong> {{uk?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong> {{uk?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>

  <div class="col">
    <div class="box">
      <li class="header">Australia</li>
      <li class="hov">New Recovered<strong>{{australia?.NewRecovered | number}}</strong></li>
      <li class="hov">Total Recovered<strong> {{australia?.TotalRecovered | number}}</strong> </li>
      <li class="hov">New Confirmed<strong> {{australia?.NewConfirmed | number}}</strong> </li>
      <li class="hov">Total Confirmed<strong> {{australia?.TotalConfirmed | number}}</strong> </li>
      <li class="hov">New Deaths<strong> {{australia?.NewDeaths | number}}</strong> </li>
      <li class="hov">Total Deaths<strong> {{australia?.TotalDeaths | number}}</strong> </li>
    </div>
  </div>
</div>
